.git
.github
.gitignore
**/bin
**/obj
**/node_modules
**/dist
**/.DS_Store
**/Thumbs.db
**/*.log
**/.env*
bin/
obj/
.git/
.vscode/
**/*.user
**/*.swp
**/*.suo
**/*.csproj.user
Dockerfile
**/Dockerfile



